/* font-family
font-family: 'Architects Daughter', cursive;
font-family: 'Montserrat', sans-serif; */

/* color-scheme
 #222831, #393E46, #00ADB5, #EEEEEE */

@font-face {
    font-family: 'Architects Daughter';
    src: url(../fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */

.logo{
    color: #00ADB5;
    font-family: 'Architects Daughter', cursive;
    font-size: 2rem;
}

a, p, h1, h2{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #222831;
}

/* Header Style */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 5vh 2vw 10vh;
}

header nav a{
    padding: 5px 10px;
}

.buttonStyle{
    color: #EEEEEE;
    background-color: #00ADB5;
    padding: 5px 25px;
    border-radius: 10px;
}

/* Main Style - About Me */

.hello {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hello p:first-of-type{
    color: #00ADB5;
    text-transform: uppercase;
}

.hello h1{
    font-weight: 700;
    font-size: 3rem;
    width: 300px;
    margin-bottom: 20px;
}

.hello p:last-of-type{
    margin-bottom: 15px;
}

.profileImg{
    width: 600px;
}

.aboutMe{
    display: flex;
    align-items: center;
}

.aboutMe h2{
    font-weight: 700;
    font-size: 3.5rem;
    width: 250px;
    padding: 30px;
}


.logoSize{
    height: 60px;
    width: 60px;
}